body {
    background-color: #0a0a23;
    font-size: 16px;
  }

  @media screen and (max-width: 768px) {
    body {
      font-size: 14px;
    }
  }
  
  #text {
    background-color: #0a0a23;
    color: #ffffff;
    padding: 10px;
  }
  
  #game {
    max-width: 500px;
    max-height: 800px;
    background-color: #ffffff;
    color: #ffffff;
    margin: 30px auto 0px;
    padding: 10px;
  }
  
  #controls,
  #stats {
    border: 1px solid #0a0a23;
    padding: 5px;
    color: #0a0a23;
  }
  #controls button {
    display: inline-block;
    margin-right: 5px; /* Adjust the margin as per your design */
    /* Specify a width that allows all buttons to fit in one line */
    width: calc(33% - 10px); /* Example width, adjust as needed */
}

@media screen and (min-width: 768px) {
    #controls {
        text-align: center;
    }
}
  #bars-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 5px;
    padding-top: 5px;
  }
  #player-health-bar-container, #player-mana-bar-container {
    flex: 1;
    margin: 0 5px; /* Adjust the margin as needed */
    border-radius: 10px;
    background-color: #ddd;
    border: 1px solid #000;
  }
  #player-health-bar, #player-mana-bar {
    height: 20px;
    border-radius: 10px;
  }

  #player-health-bar {
    background-color: #4caf50;
  }

  #player-mana-bar {
    background-color: #2196F3;
  }
  

  #monsterStats {
    display: none;
    border: 1px solid #0a0a23;
    padding: 5px;
    color: #ffffff;
    background-color: #c70d0d;
  }
  
  .stat {
    padding-right: 10px;
    
  }
  
  button {
    cursor: pointer;
    color: #0a0a23;
    background-color: #feac32;
    background-image: linear-gradient(#fecc4c, #ffac33);
    border: 3px solid #feac32;
    margin-top: 5px;
  }
  #imageContainer img {
    max-width: 100%;
    height: auto;
    display: block;
}

#imageContainer {
    margin: 0; 
    padding: 0; 
    display: block; 
}

#bottomControls{
    margin-top: 2%;
}

#button4, #button5 {
    display: none;
}


#inventory {
  background-color: white;
  color: black;
  padding: 10px;
  border: 1px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  display: none; 
  box-sizing: border-box; 
}

#inventoryTitle {
  text-align: center;
  background-color: #0a0a23; 
  color: white;
  padding: 10px;
  margin: -10px -10px 10px -10px;
  box-sizing: border-box; 
}


#inventoryList {
  list-style-type: none;
  padding: 0;
}

#inventoryList li {
  margin: 5px 0;
}
#spellSelection {
  background-color: white;
  color: black;
  padding: 10px;
  border: 1px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  display: none; /* Initially hidden */
  box-sizing: border-box; 
  width: 80%; /* Adjust width as needed */
  max-width: 400px; /* Adjust max-width as needed */
}

#spellSelectionTitle {
  text-align: center;
  background-color: #0a0a23; 
  color: white;
  padding: 10px;
  margin: -10px -10px 10px -10px;
  box-sizing: border-box;
}

#spellList {
  list-style-type: none;
  padding: 0;
}

#spellList li {
  margin: 5px 0;
  cursor: pointer; /* To indicate clickable items */
}

#closeSpellWindowButton {
  display: block;
  margin: 10px auto;
  padding: 5px 10px;
  background-color: #feac32;
  border: none;
  cursor: pointer;
}
